<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Esta</p>
    <p>Otra</p>
    <p>Ultima</p>
    <p>Nuevo</p>
  </body>
</html>
