<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <nav>
    <a href="/login">Login</a>
  </nav>
  <body>
    <h1><%= title %></h1>
    <% getLocales().forEach( locale => { %>
      <a href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
      <!-- /change-locale va a poner una cookie de idioma y recargar la página -->
    <% }) %>
    <p><%= __('Welcome to') %> <%= title %>, <%= __('these are our')%> <%= __n('products',0)%>:</p>
    <h2><%= __n('Products') %></h2>
    <% advertisements.forEach(advertisement => { %>
      <div class="main">
        <h3><%= __('Name')%> <%=advertisement.nombre %></h3>
        <img class="imgAd" src="/images/<%=advertisement.foto%>">
        <p> <%= __('To sell')%>: <%=advertisement.venta %></p>
        <p>Tags: <%=advertisement.tags %> </p>
        <p><%= __('Price')%> <%=advertisement.precio %> €</p>
      </div>
    <% }) %>
  </body>
</html>
